$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  margin: 30px auto;
}

.mdl-layout__drawer {

  .mdl-navigation__link {
    border-top: 1px dashed #DDDDDD;
  }

}

.user-avatar, .user-email {
  font-size: 14px;
  img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.main-content {
  width: 90%;
  margin: 20px auto;
}

.devices-list {
  thead {
    display: none;
  }
  .mdl-list__item {
    overflow: visible;
  }
}

.user-not-login {
  .mdl-layout__drawer-button {
    display: none;
  }
}

.alert {
  .alert-error {
    color: red;
    margin-bottom: 20px;
  }
}

.mdl-dialog__title {
  font-size: 2rem;
}

.turn-on, .turn-off {
  word-wrap: break-word;
  border: 1px solid #eee;
  padding: 5px;
  margin: 5px 0;
  height: 60px;
  overflow-y: scroll;
}

.mdl-dialog.api-dialog-help {
  @media (min-width: $screen-md) {
    width: 600px;
  }
}

.mdl-dialog {
  padding: 0;
  position: absolute;
  top: 10%;
  z-index: 10000;
  &:before {
    position: fixed;
    content: "";
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .dialog-inner {
    padding: 10px;
    background: #FFF;
    z-index: 10001;
    position: relative;
  }
}